.log {
    padding-top: 300px;
    margin-top: -220px;
    width: 600px;
    display: flex;
    align-items: center;
}

.titul {
    font-size: 40px;
    margin-left: 30px;
}

.log img {
    margin-left: 50px;
    width: 70px;
}

#indexx{
    background-color: antiquewhite;
}

.tituloo {
    width: 100%;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.tituloo h1 {
    color: rgb(53, 13, 13);
    font-size: 26px;
}

.cards {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px 15px;
}

.cardss {
    background-color: #19453c;
    transition: 0.3s;
}

.cardss:hover {
    transform: translateY(-5px);
}

.cardss img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}

.Descricaoo {
   color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}

.ch2 {
    color: antiquewhite;
    font-size: 33px;
    font-weight: normal;
    margin-bottom: 11px;
}